header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
a:link{
	color: black;
	text-decoration: none;
    margin-top: -10px;

}
a:hover{
	color: black;
	text-decoration: underline;

}
#left-nav {
	float: left;
    margin: 21px 0;
    margin-left: 40px;
}
a {
    margin:0 8px;
    position: relative;
    top: 5px;
    font-size: 14px;
    font-family: arial;
    color: #000000


}

#right-nav {
	float:right;
	margin:11.835px 0;
}
.drawer{
	position: relative;
	top: 5px
}
/*grid test*/

#grid-container > div {
  text-align: center;
  font-size: 14px;
}
#grid-container {
    /* width: 261px; */
    /* height: 337px; */
    position: relative;
    right: 20px;
    top: 15px;
    background-color: #fff;
    border: 1px solid silver;
    vertical-align: top;
    padding: 20px;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 45px 45px 45px;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
#container{
    display: none;
    position: absolute;
}

#grid-container div{
    
    height: 65px;
    width: 60px;
    background-color: inherit;
    padding: 5px;
    
}

#grid-container div:hover{
    box-shadow:inset 0px 0px 0px 1px silver;
}


.flxapps{
  height: auto;
  width: auto;
  margin-bottom: 10px;

}










/*grid test*/
.notif{
	position: relative;
	top: 5px;
}
sign-in{
	width: 30px;
	height:30px;
}
#drawer-square{
	height: 25px;
	width: 25px;
	position: relative;
    top: 5px;
}
#notications{
	width:30px;
	height: 30px;
	

}
main{
	clear: both;
}
body{
	display: block;
    margin: 0px;

}
button{
	background-color: #4285f4;
	border: none;
	color: white;
	padding: 5px 12px;
	text-align: center;
	cursor: pointer;
	margin-right: 10px;
}
.center{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	height: 92px;
 	width: 272px;
 	padding-top: 150px;

}
Google main image {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
}
#form{
    width: 526px;
    margin: 20px auto;
    position: relative;
}
#search-bar{
	width: 500px;
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
}
#mic{
	position: absolute;
    right: 15px;
    bottom: 5px;
    height: 30px;

}

.form #search-bar{
	padding:0 8px;
	margin-left: 10px;

}
#buttons{
	text-align: center;
	padding-top: 1px;
	margin-bottom: 0px;
}	
#google-search{
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family:sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
}
#lucky{
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: pointer;
    font-family:sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px
}

footer {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
  
}
footer ul li{
	display: inline;
	color:#666666;
	padding:13px;
}
.footer ul{
	float:left
	padding:0px;
}

.footer-left{
	float: left;
	text-decoration:none;

}
.footer-right{
	float:right;

}
